* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background: #c4c4c4;
}

.cards {
  width: 1300px, auto;
  height: 100vh, auto;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
}


.card h3{
  font-size: 30px;
}
.card {
  width: 300px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition: margin 1s, background-color 1s,box-shadow 2s, border 2s,grid-template-columns 1s, grid-template-rows 1s;
}
.card-red:hover {
  position: relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(252, 126, 126);
  box-shadow: 0px 0px 20px rgb(255, 100, 61);
}

.card-blue:hover {
  position:relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(100, 175, 255);
  box-shadow: 0px 0px 20px rgba(0, 217, 255, 0.713);
}

.card-green:hover {
  position:relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(72, 254, 55);
  box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.69);
}

.card-yellow:hover {
  position:relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(254, 244, 55);
  box-shadow: 0px 0px 20px rgba(255, 196, 0, 0.69);
}

.card-purple:hover {
  position:relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(192, 128, 255);
  box-shadow: 0px 0px 20px rgba(195, 0, 255, 0.69);
}

.card-orange:hover {
  position:relative;
  margin: 0px 0px 0px 40px;
  border: 4px solid rgb(255, 183, 128);
  box-shadow: 0px 0px 20px rgba(255, 140, 0, 0.69);
}

@media (max-width:1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  } 
}

@media (max-width:650px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  } 
}